.productsHeading {
    margin: 2vmax auto;
    margin-top: 5vmax;
    width: 15vw;
    border-bottom: 1px solid #0000002e;
    padding: 2vmax;
    color: #000000ad;
    font: 500 2vmax 'Roboto';
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vmax;
    margin-top: 11vh;
    justify-content: center;
}

.paginationBox {
    display: flex;
    justify-content: center;
    margin: 6vmax;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}

.pgItem {
    list-style: none;
    border: 1px solid #0000002e;
    padding: 1vmax 1.5vmax;
    transition: all .2s;
    cursor: pointer;
}

.pgItem:first-child {
    border-radius: 5rem 0 0 5rem;
}

.pgItem:last-child {
    border-radius: 0 5rem 5rem 0;
}

.pgLink {
    text-decoration: none;
    font: 300 1vmax 'Roboto';
    color: #505050;
    transition: all .3s;
}

.pgItem:hover {
    background-color: #e7e7e7;
}

.pgItem:hover .pgLink {
    color: #505050;
}

.pgItemActive {
    background-color: #ff6347;
}

.pgLinkActive {
    color: #fff;
}

.priceHeading {
    position: relative;
    bottom: 6vh;
    left: 2vw;
}

.filterBox {
    width: 10vmax;
    position: absolute;
    top: 10vmax;
    right: 4.2vmax;
}

.categoryBox {
    padding: 0;
    position: relative;
    bottom: 10vh;
    right: 81vw;
}

.categoryLink {
    list-style: none;
    color: #00000099;
    font: 400 1vmax 'Roboto';
    margin: 0.4vmax;
    cursor: pointer;
    transition: all .5s;
}

.categoryLink:hover {
    color: #ff6347;
}

.categoryHeading {
    position: relative;
    bottom: 10vh;
    right: 81vw;
}

.filterBox>fieldset {
    border: 1px solid #00000054;
    position: relative;
    bottom: 21vh;
    left: 3vw;
    padding: 1vmax;
}

@media screen and (max-width:600px) {
    .products {
        margin-top: 37vh;
    }

    .productsParent {
        overflow-x: hidden;
    }

    .productsHeading {
        border: none;
        font: 500 3.2vmax 'Roboto';
        width: unset;
    }

    .filterBox {
        width: 80vw;
        margin: auto;
        top: 20vh;
    }

    .pgLink {
        font: 300 1.8vmax 'Roboto';
    }

    .priceHeading {
        display: flex;
        justify-content: center;
        top: 2vh;
    }

    .categoryHeading {
        bottom: -1vh;
        right: 5vw;
    }

    .categoryBox {
        bottom: 0;
        right: 1vw;
        margin-top: 1vh;
    }

    .categoryLink {
        font-size: .8rem;
    }

    .filterBox>fieldset {
        border: none;
        width: 20vw;
        position: relative;
        left: 65vw;
        bottom: 17vh;
        padding: 0;
    }
}