.about {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 4fr 4fr;
    margin-top: 20vh;
    /* position: fixed; */
    z-index: 5;
}

.aboutContainer {
    position: absolute;
    left: 50%;
    top: 55%;
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 80vh;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.192);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutContainer>h1 {
    font: 400 3vmax "Roboto";
    color: tomato;
    margin: 2vmax;
}

.aboutContainer>div {
    display: flex;
    width: 100%;
}

.aboutContainer>div>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vmax;
    box-sizing: border-box;
}

.aboutContainer>div>div>p {
    color: #0000009f;
    font: 100 1.2vmax "Roboto";
}


.aboutContainer>div>div>span {
    font: 100 1.2vmax "Roboto";
    color: #0000009d;
    text-align: center;
    width: 80%;
}

.aboutContainer2 {
    border-left: 1px solid #0000001e;
}

.aboutContainer2>h2 {
    color: #0000009f;
    font: 100 2vmax "Roboto";
    margin: 2vmax;
}

.aboutContainer2>a>svg {
    font-size: 4vmax;
}

.linkedin {
    color: #0000ff;
}

@media screen and (max-width: 600px) {
    .aboutContainer {
        top: 65%;
    }

    .aboutContainer>div {
        display: block;
    }

    .aboutContainer>h1 {
        font: 400 5vmax "Roboto";
        margin: 3vmax;
    }

    .aboutContainer>div>div>p {
        font: 100 2vmax "Roboto";
    }

    .aboutContainer>div>div>span {
        font: 100 1.4vmax "Roboto";
        width: 70%;
    }

    .aboutContainer2 {
        border-left: none;
    }

    .aboutContainer2>h2 {
        font: 100 3vmax "Roboto";
        margin: 2vmax;
    }

    .aboutContainer2>a>svg {
        font-size: 6vmax;
        margin: 1vmax;
    }
}